#app
  #graph

// Kick off graph view with id
// using this != form to interpolate id
!= "<script type='text/javascript'>"
!= "$(function() {"
!= "new App.Views.Graph(" + id + ");"
!= "});"
!= "</script>"
