body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-color: #e7ecf2;
a
  color: #00B7FF

.chart rect
  stroke: white;
  fill: steelblue;

.chart text
  fill: white

.shared, .bar, .label {
  font-size: 8pt;
  font-weight: bold;
  font-family: Arial, sans-serif;
}
.femalebar, .malebar {
  fill: #ffffff;
  stroke: black;
}
.highlight rect.malebar, .highlight rect.femalebar {
  fill: #3b5998;
}
text.malebar, text.femalebar {
  display: none;
}
.highlight text {
  display: block;
  fill: #000;
  stroke: none;
}

